.about-title{
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;
}

.about{
  position: relative;
}

.about__container{
  position: absolute;
  top: 20px;

}

.about__wrapper{
  background-color: white;
}