.emptySection{

}


  .card_img{
    height: 168px;
    object-fit: contain;
  }


.sector_favorites{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin: auto;
  max-width: 1536px;
  padding-top: 30px;
  padding-bottom: 30px;
}



