@use './src/styles/mixins';
@use 'src/styles/variables';

.sector_favorites {
  padding: 50px;
  position: relative;
}

.favorites__title {
  @include mixins.titleStyles;
  padding-bottom: 50px;
  margin-left: -40px;

  .title_contrast {
    @include mixins.liner-gradient-tile;
  }
}
