@use './src/styles/mixins';
@use 'src/styles/variables';

.checkout {
  margin-bottom: 30px;
  &__title {
    @include mixins.titleStyles;
    padding-bottom: 30px;

    .title_contrast {
      @include mixins.liner-gradient-tile;
    }
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  &__input {
    border: 1px solid #e3e3e3;
  }

  &__submit-btn {
    justify-self: end;
    grid-column-start: 2;
    max-width: 250px;
    background: variables.$linearGradient;
    border-radius: 100px !important;
  }
}
