.footer{
  &__subscribe-container{
    background-color: rgba(81, 86, 104, 1);
  }
  &__subscribe-wrapper{

    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-around;
    @media (max-width: 996px) {
      justify-content: center;
      padding-top: 6vh;
      padding-bottom: 6vh;
    }
    .subscribe__content{
      width: fit-content;
      display: flex;
      gap: 0.8vw;
      align-items: center;
      //padding-left: 7vw;
      //margin-right: 7vw;
      @media (max-width: 996px) {
        display: none;
      }
    }

    .subscribe__text{
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: rgba(255, 255, 255, 1);
      &--colored{
        color: rgba(142, 233, 1, 1);
      }
    }

    .subscribe__input-wrapper{
      display: flex;
      justify-content: center;
      //margin-right: 14vw;
      @media (max-width: 996px) {
        margin: 0;
        width: 90%;
      }
    }
    .subscribe__input{
      border: none;

      padding: 1vh 6.5vw 1vh 1.4vw;
      @media (max-width: 996px) {
        padding: 4vh 6.5vw 4vh 1.4vw;
        width: 100%;
      }
    }

    .subscribe__button{
      padding: 1vh 1.4vw 1vh 1.4vw;
      border: none;
      background-color: rgba(79, 156, 44, 1);
      color: white;
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
    }

    .subscribe__call-wrapper{
      display: flex;
      align-items: center;
      gap: 1vw;
      @media (max-width: 996px) {
        display: none;
      }
    }

    .subscribe__call-text{
      color: rgba(142, 233, 1, 1);
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      cursor: pointer;
    }
  }

  &__info-container{
    background-color: rgb(245, 245, 245);
  }
  &__info-wrapper{
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-around;
    gap: 48vw;
    @media (max-width: 996px) {
      justify-content: center;
    }
    .social-media-wrapper{
      //padding-left: 7vw;
      .footer__logo-wrapper{
        margin-bottom: 1vh;
      }

      //margin-right: 52vw;
      @media (max-width: 996px) {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .payments-wrapper{
      display: flex;
      gap: 1vw;
      @media (max-width: 996px) {
        display: none;
      }
    }
  }
  &__desc{
    color: rgba(117, 117, 138, 1);
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 1vh;
  }
}
