@use './src/styles/mixins';
@use 'src/styles/variables';

.comparison-container__wrapper-title {
  @include mixins.titleStyles;
  margin-top: 20px;
  color: variables.$black;
}

.comparison-container__wrapper-title-quantity {
  @include mixins.titleStyles;
  @include mixins.liner-gradient-tile;
  margin-bottom: 45px;
}
