.popularProducts{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 96px auto 0 auto;
}

.popularProductsColored{
  color: #60B021;
}

.productCarousel{
  position: unset !important;
  padding: 40px 0;
}