.main-list {
    &__description {
      font-size: 30px;
      padding-bottom: 40px;
      text-align: center;
    }
    &__sections-nothing-found {
      display: flex;
      flex-direction: column;
    }
  }