@use './src/styles/mixins';
@use 'src/styles/variables';

.comparison-container__wrapper-title {
  @include mixins.titleStyles;

  margin-top: 20px;
  color: variables.$black;
}

.comparison-container__wrapper-title-quantity {
  @include mixins.titleStyles;
  @include mixins.liner-gradient-tile;

  margin-bottom: 45px;
}

.comparison-container__wrapper {
  position: relative;
  margin: 0 auto;
  overflow-x: scroll;
  min-width: 996px;
}

.comparison-table__delete {
  cursor: pointer;
  position: absolute;
  top: 1px;
  margin-left: 220px;
  margin-top: -1px;
}

table {
  min-width: 996px;

  tr > td,
  tr > th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }

  th {
    border-bottom: 1px solid variables.$light-border;
  }

  th[scope='row'] {
    max-width: 150px;
    color: variables.$border;
    text-align: left;
    padding-left: 45px;
    @include mixins.comparisonStyle;
  }

  tr {
    @include mixins.comparisonStyle;
    border-bottom: 1px solid variables.$light-border;
    color: variables.$black;
    position: relative;

    &:nth-child(1) {
      border-bottom: 1px solid variables.$light-border;
      box-shadow: variables.$box-shadow;
    }

    &.condition {
      font-size: 20px;
    }

    &.colors span {
      height: 20px;
      width: 20px;
      display: inline-block;
      margin-right: 5px;
      border-radius: 100%;
    }
  }

  thead {
    width: 100%;

    th {
      color: variables.$black;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      min-width: 250px;
      min-height: 250px;
    }
  }
}

.thead-default th {
}
