.form-block {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    
    &__title {
        text-transform: uppercase;
        font-weight: 700;
    }
    &__btn {
        justify-self: center;
    }
    .login_reminder {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #60B021;
        cursor: pointer;
    }
}

