@mixin font-list-items {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.main-list {
  margin: 50px auto;

  &__sections {
  display: flex;
/*     display: grid;
    grid-template-columns: 4fr 1fr; */
    /*  column-gap: 3%;   */

    
  }
}

.grid-main-list {

  display: grid;
  justify-content: center;
  
}



.count-found-product {
  @include font-list-items;
  font-size: 16px;
  margin-bottom: 26px;
  color: #000000;

  &__span {
    @include font-list-items;
    font-size: 16px;
    color: #60B021;
  }
}



