//colors
$linearGradient: linear-gradient(270deg, #8ee901 0%, #4f9c2c 99.06%);
$black: #000;
$border: #75758a;
$light-border: #efefef;
$red: #de3c33;
$green: #4f9c2c;
$light-green: #60b021;

//another styles
$box-shadow: 0 5px 4px -4px rgb(0 0 0 / 50%);
